/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #fffffff2;
  background: linear-gradient(to bottom right, #9747ff 2%, #3165A1 40%, #ffffff);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter_18pt-Light.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter_18pt-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter_18pt-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter_18pt-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body,
html {
  margin: 0;
  width: 100vw;
  height: 100vh;
  /* overflow: hidden; */
  font-family: "Inter", sans-serif;
  /* background: linear-gradient(to bottom right, #9747ff 2%, #3165A1 40%, #ffffff); */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(100% - initial));
  }
}

.slideUp {
  animation: slideUp 0.3s ease-in-out forwards;
}

.slideDown {
  animation: slideDown 0.3s ease-in-out forwards;
}

@keyframes fadeInZoomOut {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.fadeInZoomOut {
  animation: fadeInZoomOut 0.8s ease-in-out forwards;
}

@keyframes zoomInOut {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.zoomInOut {
  animation: zoomInOut 0.3s ease-in-out;
}